aiohttp
aiosignal
apturl
argcomplete
asgiref
asttokens
async-generator
async-timeout
attrs
autopep8
backcall
bcrypt
beautifulsoup4
blinker
Brlapi
Brotli
certifi
cffi
chardet
charset-normalizer
chrome-gnome-shell
click
colorama
comm
command-not-found
commonmark
contourpy
coverage
cryptography
cupshelpers
cycler
dbus-python
debugpy
decorator
defer
distro
distro-info
Django
django-cors-headers
django-debug-toolbar
django-jazzmin
djangorestframework
djangorestframework-simplejwt
docopt
drf-spectacular
duplicity
exceptiongroup
executing
Faker
fasteners
flake8
fonttools
frozenlist
future
google
greenlet
gunicorn
gyp
h11
httplib2
idna
importlib-metadata
inflection
iniconfig
ipykernel
ipython
jedi
jeepney
joblib
jsonschema
jupyter_client
jupyter_core
keyring
kiwisolver
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
lockfile
louis
macaroonbakery
Mako
MarkupSafe
matplotlib
matplotlib-inline
mccabe
monotonic
more-itertools
msgpack
multidict
mutagen
mypy
mypy-extensions
natsort
nest-asyncio
netifaces
numpy
oauthlib
olefile
openai
outcome
packaging
pandas
parameterized
paramiko
parso
pexpect
pickleshare
Pillow
pipx
platformdirs
pluggy
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
py
pycairo
pycodestyle
pycparser
pycryptodomex
pycups
pyflakes
Pygments
PyGObject
PyJWT
pymacaroons
PyNaCl
pynvim
pyOpenSSL
pyparsing
PyPDF2
pyperclip
pyRFC3339
pyrsistent
PySocks
pytest
pytest-django
pytest-dotenv
pytest-watch
python-apt
python-dateutil
python-debian
python-dotenv
pytz
pyxattr
pyxdg
PyYAML
pyzmq
reportlab
requests
rich
schedule
scikit-learn
scipy
seaborn
SecretStorage
selenium
shell-genie
shellingham
six
sklearn
sniffio
sortedcontainers
soundfile
soupsieve
sqlparse
stack-data
systemd-python
text-unidecode
threadpoolctl
toml
tornado
tqdm
traitlets
trio
trio-websocket
typer
types-requests
types-urllib3
typing_extensions
tzdata
ubuntu-advantage-tools
ubuntu-drivers-common
ufw
unattended-upgrades
uritemplate
urllib3
usb-creator
userpath
wadllib
watchdog
wcwidth
websockets
wfdb
whitenoise
wsproto
wxPython
xdg
xgboost
xkit
yarl
yt-dlp
zipp
